# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/
ENV/

# Database
*.sqlite3
*.db

# Secrets and Config
.env
instance/
.flaskenv

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/